body {
    background-color: #ff8c66;
}

form {
    width: 390px;
    height: 600px;
    position: relative;
    margin: 8% auto;
    background-color: #66ffbf;
    padding: 5px 18px;
    border-radius: 18px;
    box-shadow: 7px 7px 3px grey;
    color:  #474242;
    display: block;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: 30px;
    letter-spacing: 1.5px;
}

#input-field {
    width: 350px;
    height: 20px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
    text-align: center;
}

button {
    border-radius: 8px;
    text-align: center;
    width: 389px;
    height: 32px;
    background-color: #808080;
    color: white;
    border: none;
}

label {
    font-size: 20px;
}

fieldset {
    border-radius: 8px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    
    form {
        margin: 5px auto;
        max-width: 400px;
    }

    label, legend {
        font-size: medium;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    
    form {
        margin: 10px auto;
        max-width: 500px;
    }

    label, legend {
        font-size: medium;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

    form {
        margin: 20px auto;
        max-width: 600px;
    }

    label, legend {
        font-size: medium;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {

    form {
        margin: 30px auto;
        max-width: 700px;
    }

    legend {
        font-size: x-large;
    }
}

@media only screen and (min-width: 1200px) {
   
    form {
        margin: 50px auto;
        max-width: 800px;
    }

    legend {
        font-size: xx-large;
    }
}
